# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command
# Enable/Disable
*/2 * * * * /bin/bash /opt/chrons/EnableDisableCrons.sh

# NGINX
@reboot /bin/bash /opt/chrons/nginx.sh
*/2 * * * * /bin/bash /opt/chrons/check_nginx.sh

# Import from Sharepoint
* * * * * sudo python3 /opt/chrons/sharepoint_import.py >> /opt/chrons/sharepoint_import.log 2>&1

# Mapping
*/2 * * * * /opt/chrons/MoveSuccess2ToBookings.sh > /opt/chrons/MoveSuccess2ToBookings.log

# Tansfer - !DEV ONLY!
# */2 * * * * /opt/chrons/TransferBookings.sh
# */2 * * * * /opt/chrons/TruncateBookings.sh
# */2 * * * * /opt/chrons/TransferBookingRelated.sh
# */2 * * * * /opt/chrons/TruncateBookingRelated.sh

# Startrack
*/5 * * * * sudo python3 /opt/chrons/st_auto_book_label.py >> /opt/chrons/st_auto_book_label.log 2>&1
*/30 * * * * sudo python3 /opt/chrons/st_status_pod.py >> /opt/chrons/st_status_pod.log 2>&1

# TNT
*/35 * * * * sudo python3 /opt/chrons/tnt_status_pod.py >> /opt/chrons/tnt_status_pod.log 2>&1

# Hunter
*/25 * * * * sudo python3 /opt/chrons/hunter_status_pod.py >> /opt/chrons/hunter_status_pod.log 2>&1

# Sendle
*/30 * * * * sudo python3 /opt/chrons/sendle_status_pod.py >> /opt/chrons/sendle_status_pod.log 2>&1

# Allied
*/25 * * * * sudo python3 /opt/chrons/allied_status_pod.py >> /opt/chrons/allied_status_pod.log 2>&1

# Century
*/30 * * * * sudo python3 /opt/chrons/century_status_pod.py >> /opt/chrons/century_status_pod.log 2>&1
*/5 * * * * sudo python3 /opt/chrons/upload_csv_ftp.py >> /opt/chrons/upload_csv_ftp.py.log 2>&1

# Pricing-Only and Pricing-Rule
* * * * * sudo python3 /opt/chrons/pricing_only.py >> /opt/chrons/pricing_only.log 2>&1
* * * * * sudo python3 /opt/chrons/pricing_rule_import.py >> /opt/chrons/pricing_rule_import.log 2>&1

# BookingSet
* * * * * sudo python3 /opt/chrons/auto_pricing_set.py >> /opt/chrons/auto_pricing_set.log 2>&1
* * * * * sudo python3 /opt/chrons/auto_book_label_set.py >> /opt/chrons/auto_book_label_set.log 2>&1

# web_2_FM
* * * * * sudo python3 /opt/chrons/web_2_fm_new.py >> /opt/chrons/web_2_fm_new.log 2>&1
* * * * * sudo python3 /opt/chrons/web_2_fm_modified.py >> /opt/chrons/web_2_fm_modified.log 2>&1

# ZIP POD
# 1 0 * * * /opt/chrons/zip_new_pods.sh

# Upload
# */5 * * * * /opt/chrons/upload_csv_sftp.sh
# */5 * * * * /opt/chrons/upload_xml_allied_sftp.sh

# Plum
# */5 * * * * /opt/chrons/plum_au_scan_ok.sh

# Cope
# */5 * * * * /opt/chrons/cope_au_move_label.sh
# */5 * * * * /opt/chrons/cope_au_move_pod.sh
# 0 */1 * * * /opt/chrons/cope_status_report.sh
# */5 * * * * /opt/chrons/store_bookings.sh
# */5 * * * * /opt/chrons/cope_au_move_connote.sh
# */59 * * * * /opt/chrons/scan_label_cope.sh
# */10 * * * * /opt/chrons/append_status_history_feedback.sh

# BSD Woo-commerce
*/10 * * * * sudo python3 /opt/chrons/woo_commerce.py >> /opt/chrons/woo_commerce.log 2>&1
